<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>

            <section class="middle tab-bar-section">
                <h1 class="title">Democracy Direct</h1>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label  style="height:45px; line-height:36px" >Dashboard</label></li>
                <li><a href="#">Upcoming Bills</a></li>
                <li><a href="#/message">Message your Rep</a></li>
                <li><a href="#/tags">Your Keywords</a></li>
            </ul>
        </aside>

        <section id="content" class="main-section">
        </section>

        <a class="exit-off-canvas"></a>

    </div>
</div>

