<div class="row">
    <div class="large-12 columns">
        <h1>Poll your constituents about a bill</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <select id="bill-selector">
            {{#each bills}}
                <option id="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    <textarea style="min-height: 100px;" class="summary" placeholder="summary">{{summary}}</textarea>
    <button>Poll</button>
    </div>
</div>