<div class="row">
    <div class="large-12 columns">
        <h1>Your Keywords</h1>
        <p>Follow legislation that matters most to you by adding keywords. You will be alerted whenever {{rep}} has an upcoming vote related to your keywords!</p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        {{#each tags}}
            <div class="panel">
                <span style="display: inline-block; width: 200px">{{name}}</span><button id="tag-{{id}}" class="tiny alert" style="margin-left: 30px">Delete</button>
            </div>
        {{/each}}
    </div>
    <input style="margin-bottom: 200px" id="tag-search" type="text" placeholder="Add a new keyword"/>
</div>